/* general */
body {
  font-family: 'Roboto', sans-serif;
}
/* /general */

/* Mix */
.text_blu {
  color: #0C61FF;
}
.text_blu a{
  text-decoration: none;
  color: #0C61FF;
}

.text_blu a:hover {
  color: #1733FF;
}

.text_grey {
  color: grey;
}

.bg_grey {
  background-color: #F3F5FA;
}
/* /Mix */

/* Typo */
h2 {
  color: #031b4e;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  color: #031b4e;
}

/* barra di navigazione */
.header_top {
  background-color: #fff;
  line-height: 65px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 10;
}

.header_logo {
  height: 28px;
  vertical-align: middle;
}

.header_top li {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  padding-left: 15px;
  vertical-align: middle;
}

.header_top li a {
  color: rgb(3, 27, 79);
  text-decoration: none;
}

.header_top li a:hover{
  color: #0C61FF;
}

.btn_custom {
  color: #0C61FF!important;
  border: 2px solid #0C61FF;
}

.btn_custom:hover {
  color: #fff!important;
  background-color: #0C61FF;
  border: 2px solid #0C61FF;
}

.hamburger_menu {
  color: #0C61FF;
  line-height: 65px;
  vertical-align: middle;
}
/* /barra di navigazione */

/* jumbotron */
.jumbotron {
  background-image: url("../img/bg_hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron p {
  color: #ddd;
  font-weight: 400;
}

.get_started {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.get_started h2, .get_started h3 {
  font-size: 30px;
}

.input_mail {
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 48px;
  margin-bottom: 10px;
}

.input_pssw {
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 10px;
}

.btn_account {
  color: #fff;
  background-color: #0C61FF;
  width: 90%;
  margin-bottom: 10px;
}

.btn_account:hover {
  background-color: #1733FF;
}

.btn_google {
  background-image: url("../img/google-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4% 50%;
  color: #000;
  background-color: #fff;
  width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 lightgrey;
  margin-bottom: 10px;
}

.get_started small{
  color: #000;
  font-size: 12px;
}

.get_started small a {
  text-decoration: underline;
}
/* /jumbotron */

/* interlinea */
.interline {
  text-align: center;
  margin: auto;
}

.interline p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.interline img {
  max-width: 100%;
  vertical-align: middle;
}
/* /interlinea */

/* sezione deploy */
.deploy {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.deploy p {
  font-size: 21px;
}

.deploy_container {
  margin-top: 50px;
}

.deploy_menu li{
  list-style: none;
  text-align: left;
  border-left: 1px solid lightgrey;
  padding: 10px;
}

.deploy_menu li:hover {
  border-left: 2px solid #1733FF;
}

.deploy_menu li a{
  color: grey;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;
}

.deploy_menu li a:hover {
  color: #0C61FF;
}

.deploy_tile {
  text-align: left;
  margin: 20px 0;
}
/* /sezione deploy */

/* carousel */
.carousel {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel .under_text {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.carousel img {
  max-width: 100%;
}

.carousel_chevron {
  font-size: 30px;
  color: grey;
  vertical-align: middle;
}

.central_col {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.chevron_col {
  width: calc(10% - 4px);
  display: inline-block;
  vertical-align: middle;
}

.carousel small {
  color: #031b4e;
}

.bullet {
  color: #0C61FF;
  margin-top: 0;
}
/* /carousel */

/* middleline features*/
.middleline {
  padding: 50px 0;
}
.middleline_title {
  text-align: center;
  margin-bottom: 40px;
}

.middleline a {
  font-weight: 500;
}

.middleline a:hover {
  text-decoration: none;
  color: #1153FF;
}
/* middleline features */

/* sezione servers */
.servers {
  background: #031b4e url(../img/bg-map.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.servers h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.server_table tr td {
  color: #fff;
}

.third_data {
  text-align: right;
}

.third_data a {
  color: #00d7d2;
}

.third_data a:hover{
  text-decoration: none;
  color: #1633ff;
}

.first_row {
  border-top: hidden;
}
/* /sezione servers */

/* secondo carousel */
.container_small {
  width: 50%;
  margin: auto;
}
.white_box {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  margin: 50px auto 10px auto;
  vertical-align: middle;
}

.white_box img {
  margin-top: 20px;
}

.white_box .quote {
  font-size: 20px;
  margin: 20px 5px 5px 5px;
}

.white_box p {
  margin: 0;
  font-size: 18px;
}

#ceo_name {
  font-weight: 500;
}

.white_box .story_link {
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  color: #0069ff;
}

.white_box .story_link:hover {
  text-decoration: none;
  color: #1633ff;
}

.bullets {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container_small {
    width: 90%;
  }
}
/* /secondo carousel */

/* underline */
.underline {
  background-image: url(../img/bg_underline.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
}

.underline h2 {
  color: #fff;
  margin-bottom: 20px;
}

.underline a {
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 500;
}
/* /underline */

/* Sammy the shark */
.sammy {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.baloon {
  background-color: #fff;
  border-radius: 5px;
  display: none;
  vertical-align: bottom;
  position: relative;
  margin-right: 10px;
  max-width: 250px;
  box-shadow: 2px 2px #ddd;
}

.sammy:hover .baloon {
  display: inline-block;
}

.baloon p {
  padding: 5px 5px;
  font-weight: 500;
  text-align: left;
  color: #031C4E;
  margin-bottom: 0px;
}

.baloon i {
  position: absolute;
  bottom: 5px;
  right: -7px;
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px #ddd;
}

.sammy_img {
  line-height: 53px;
  height: 53px;
  width: 53px;
  background-color: #0D69FF;
  background-image: url(../img/sammy_shark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.sammy_img img {
  width: 98%;
  margin: auto;
}

.notification_number {
  background-color: #ff3300;
  border: 3px solid #fff;
  text-align: center;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  line-height: 13px;
  vertical-align: middle;
  position: absolute;
  top: -10px;
  right: -10px;
}

.notification_number span {
  color: #fff;
  font-weight: 500;
  font-size: 10px;
}

@media screen and (max-width: 758px) {
  .sammy {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }
}
/* /Sammy the shark */

/* pie di pagina */
footer {
  background-color: #031c4e;
  padding: 50px 0;
}

footer p {
  font-size: 16px;
  color: #4d4d4d;
}

.footer_copyright {
  color: #999999;
  margin: 8px 0 0 0;
}

.social_links a {
  color: #999999;
  font-size: 20px;
  margin: 0 5px;
}

.social_links a:hover {
  color: #fff;
}

.menu_list li {
  list-style: none;
  color: #999999;
  margin: 3px 0;
}

#title_list {
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
}

.menu_list li:hover {
  color: #fff;
}
/* /pie di pagina */
