/* general */
body {
  font-family: 'Roboto', sans-serif;
}
/* /general */

/* Mix */
.text_blu {
  color: #0C61FF;
}
.text_blu a{
  text-decoration: none;
  color: #0C61FF;
}

.text_blu a:hover {
  color: #1733FF;
}

.text_grey {
  color: grey;
}

.bg_grey {
  background-color: #F3F5FA;
}
/* /Mix */

/* Typo */
h2 {
  color: #031b4e;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  color: #031b4e;
}

/* barra di navigazione */
.header_top {
  background-color: #fff;
  line-height: 65px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 10;
}

.header_logo {
  height: 28px;
  vertical-align: middle;
}

.header_top li {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  padding-left: 15px;
  vertical-align: middle;
}

.header_top li a {
  color: rgb(3, 27, 79);
  text-decoration: none;
}

.header_top li a:hover{
  color: #0C61FF;
}

.btn_custom {
  color: #0C61FF!important;
  border: 2px solid #0C61FF;
}

.btn_custom:hover {
  color: #fff!important;
  background-color: #0C61FF;
  border: 2px solid #0C61FF;
}

.hamburger_menu {
  color: #0C61FF;
  line-height: 65px;
  vertical-align: middle;
}
/* /barra di navigazione */

/* jumbotron */
.jumbotron {
  background-image: url("../img/bg_hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron p {
  color: #ddd;
  font-weight: 400;
}

.get_started {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.get_started h2, .get_started h3 {
  font-size: 30px;
}

.input_mail {
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 48px;
  margin-bottom: 10px;
}

.input_pssw {
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 10px;
}

.btn_account {
  color: #fff;
  background-color: #0C61FF;
  width: 90%;
  margin-bottom: 10px;
}

.btn_account:hover {
  background-color: #1733FF;
}

.btn_google {
  background-image: url("../img/google-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4% 50%;
  color: #000;
  background-color: #fff;
  width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 lightgrey;
  margin-bottom: 10px;
}

.get_started small{
  color: #000;
  font-size: 12px;
}

.get_started small a {
  text-decoration: underline;
}
/* /jumbotron */

/* interlinea */
.interline {
  text-align: center;
  margin: auto;
}

.interline p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.interline img {
  max-width: 100%;
  vertical-align: middle;
}
/* /interlinea */

/* sezione deploy */
.deploy {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.deploy p {
  font-size: 21px;
}

.deploy_container {
  margin-top: 50px;
}

.deploy_menu li{
  list-style: none;
  text-align: left;
  border-left: 1px solid lightgrey;
  padding: 10px;
}

.deploy_menu li:hover {
  border-left: 2px solid #1733FF;
}

.deploy_menu li a{
  color: grey;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;
}

.deploy_menu li a:hover {
  color: #0C61FF;
}

.deploy_tile {
  text-align: left;
  margin: 20px 0;
}
/* /sezione deploy */

/* carousel */
.carousel {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.carousel img {
  max-width: 100%;
}

.carousel_chevron {
  font-size: 30px;
  color: grey;
  vertical-align: middle;
}

.chevron_col {
  line-height: 80vh;
}

.carousel small {
  color: #031b4e;
}

.bullet {
  color: #0C61FF;
  margin-top: 0;
}
/* /carousel */

/* middleline features*/
.middleline {
  padding: 50px 0;
}
.middleline_title {
  text-align: center;
  margin-bottom: 40px;
}

.middleline a {
  font-weight: 500;
}

.middleline a:hover {
  text-decoration: none;
  color: #1153FF;
}
/* middleline features */
